<div class="grid-container">
  <h1 class=" informa mat-h1 titulodash">Información General</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Remover</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div class="chart-container">
            <canvas id="solicitud">{{Solicitudes}}</canvas>
          </div>
    
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>



    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Remover</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          
          <div class="chart-container">
            <canvas id="graficoL">{{graficoLineal}}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Remover</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chart-container">
            <canvas id="graficoC">{{grafico2}}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Remover</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chart-container">
            <canvas id="report">{{reportes}}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>
</div>


