<form [formGroup]="inquilinosForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Información General</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">



        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Documento Inquilino" formControlName="documentoinqui"></textarea>
            <mat-error *ngIf="inquilinosForm.controls['documentoinqui'].hasError('requerido')">
              Documento Inquilino <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        

        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Nombre Inquilino" formControlName="nombreInqui"></textarea>
            <mat-error *ngIf="inquilinosForm.controls['nombreInqui'].hasError('requerido')">
              Nombre Inquilino <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>


      </div>
      <div class="row">
        <div class="col">
          
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="3" type="number" placeholder="Edad" formControlName="edad">
            <mat-error *ngIf="inquilinosForm.controls['edad'].hasError('required')">
              Edad <strong>requerido</strong>
            </mat-error>
            <mat-hint align="end">{{postalCode.value.length}} / 3</mat-hint>
          </mat-form-field>
          
        </div>
        <div class="col">
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Torre" formControlName="torre">
            <mat-error *ngIf="inquilinosForm.controls['torre'].hasError('requerido')">
              torre<strong>requerido</strong>
            </mat-error>
          </mat-form-field>
       
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Apartamento" formControlName="apartamento"></textarea>
            <mat-error *ngIf="inquilinosForm.controls['apartamento'].hasError('requerido')">
              Apartamento <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label formControlName="vehiculo">Vehiculo</mat-label>
            <mat-select>
              <mat-option value="one">Si</mat-option>
              <mat-option value="two">No</mat-option>
            </mat-select>
            <mat-error *ngIf="inquilinosForm.controls['vehiculo'].hasError('requerido')">
              Campo <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </mat-card-actions>
  </mat-card>
</form>